
// form validation
.form-validation{
    .ng-pristine {} // When it is first initialized
    .ng-dirty {} // When the view changes
    .ng-valid.ng-dirty {
        border-color: $brand-success;
    }
    .ng-invalid.ng-dirty {
        border-color: $brand-danger;
    }
}

.form-search {
   .icon {
        background-color: #fff;
        border-right: 0;
   }
   .form-control{
        border-left: 0;
        padding-left: 0;
   }
}
