<div class="modal-header">
    <button aria-hidden="true" class="close" data-dismiss="modal" ng-click="dismiss()" type="button">×</button>
    <h4 class="modal-title">
        Amendment invoice
    </h4>
</div>
<div class="modal-body">
    <form class="form-horizontal" name="form" ng-submit="submit()" novalidate role="form">
        <div ng-show="!invoice">
            Please choose a invoice for amendment
        </div>
        <div ng-show="invoice">
            <div class="form-group" ng-class='{"has-error": form.$dirty && form.amount.$invalid}'>
                <label class="col-sm-3 control-label" for="amount">Amount</label>
                <div class="col-sm-9">
                    <input class="form-control input-sm" id="amount" disabled="disabled" name="amount" ng-model="amendment.amount" placeholder="Amount" required type="text"/>
                </div>
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-default" ng-click="dismiss()">Dismiss</button>
    <button class="btn btn-primary" ng-click="submit()" ng-disabled="form.$invalid" type="submit">Amendment</button>
</div>