<div class="modal-header">
    <button aria-hidden="true" class="close" data-dismiss="modal" ng-click="dismiss()" type="button">×</button>
    <h4 class="modal-title">
        {{ file.name ? file.name : "New Provider" }}
    </h4>
</div>
<div class="modal-body">
    <form class="form-horizontal" name="form" novalidate role="form">
        <div class="form-group">
            <label class="col-sm-2 control-label" for="name">Name</label>
            <div class="col-sm-4" ng-class="{'has-error': form.$dirty && form.name.$invalid}">
                <input class="form-control" id="name" name="name" ng-model="provider.name" placeholder="Name" required type="text"/>
            </div>
            <label class="col-sm-2 control-label" for="fiscalcode">Fiscal ID</label>
            <div class="col-sm-4">
                <input class="form-control" id="fiscalcode" name="fiscalcode" ng-model="provider.fiscalcode" placeholder="Fiscal ID" type="text"/>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label" for="address">Address</label>
            <div class="col-sm-10">
                <input class="form-control" id="address" name="address" ng-model="provider.address" placeholder="Address" type="text"/>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label" for="postal">Zip Code</label>
            <div class="col-sm-4">
                <input class="form-control" id="postal" name="postal" ng-change="city()" ng-model="provider.postal" placeholder="Zip Code" type="text"/>
            </div>
            <label class="col-sm-2 control-label" for="province">Province</label>
            <div class="col-sm-4">
                <input class="form-control" id="province" name="province" ng-model="provider.province" placeholder="Province" type="text"/>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label" for="city">Locality</label>
            <div class="col-sm-4">
                <select class="form-control" id="city" name="city" ng-model="provider.city" ng-options="obj.name as obj.name for obj in postals" type="text">
                </select>
            </div>
            <label class="col-sm-2 control-label" for="country">Country</label>
            <div class="col-sm-4">
                <select class="form-control" id="country" name="country" ng-model="provider.country" ng-options="obj.key as obj.name for obj in countries" type="text">
                </select>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label" for="phone">Phone</label>
            <div class="col-sm-4">
                <input class="form-control" id="phone" name="phone" ng-model="provider.phone" placeholder="Phone" type="text"/>
            </div>
            <label class="col-sm-2 control-label" for="mobile">Mobile</label>
            <div class="col-sm-4">
                <input class="form-control" id="mobile" name="mobile" ng-model="provider.mobile" placeholder="Mobile" type="text"/>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label" for="email">Email</label>
            <div class="col-sm-4">
                <input class="form-control" id="email" name="email" ng-model="provider.email" placeholder="Email" type="email"/>
            </div>
            <label class="col-sm-2 control-label" for="alias">Alias</label>
            <div class="col-sm-4">
                <input class="form-control" id="alias" name="alias" ng-model="provider.alias" placeholder="Alias" type="text"/>
            </div>
        </div>
        <div class="col-md-12">
            <label class="" for="note" ng-model="provider.alias">Note</label>
        </div>
        <div class="form-group">
            <div class="col-sm-12">
                <textarea class="form-control" id="note" name="note" ng-model="provider.note" placeholder="Note" rows="4">
                </textarea>
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-default" ng-click="dismiss()">Dismiss</button>
    <button class="btn btn-primary" ng-click="submit()" ng-disabled="form.$invalid" type="submit">Save</button>
    <p ng-show="provider.created_at">
        Created {{provider.created_at | mydatetime}} by {{provider.created_by_name}}. Last modified {{provider.updated_at | mydatetime}} by {{provider.updated_by_name}}.
    </p>
</div>