<div class="page">
    <div class="row">
        <div class="col-sm-3" ng-controller="MessageCtrl">
            <section class="panel panel-default mail-categories">
                <div class="panel-heading">
                    <a href="#/mail/compose" class="btn btn-block btn-lg btn-primary">Compose</a>
                </div>
                <ul class="list-group">
                    <li class="list-group-item active"><a href="javascript:;">
                        <i class="fa fa-inbox"></i>Inbox
                        <span class="badge badge-info pull-right">6</span>
                    </a></li>
                    <li class="list-group-item"><a href="javascript:;">
                        <i class="fa fa-envelope-o"></i>Send mail
                    </a></li>
                    <li class="list-group-item"><a href="javascript:;">
                        <i class="fa fa-star"></i>Starred
                        <span class="badge badge-danger pull-right">3</span>
                    </a></li>
                    <li class="list-group-item"><a href="javascript:;">
                        <i class="fa fa-comment-o"></i>Chat
                        <span class="badge badge-success pull-right">9</span>
                    </a></li>
                    <li class="list-group-item"><a href="javascript:;">
                        <i class="fa fa-pencil"></i>Draft
                        <span class="badge badge-warning pull-right">1</span>
                    </a></li>
                    <li class="list-group-item"><a href="javascript:;">
                        <i class="fa fa-trash-o"></i>Spam
                    </a></li>
                </ul>
            </section>

            <section class="panel panel-default mail-categories">
                <div class="panel-heading">Label</div>
                <ul class="list-group">
                    <li class="list-group-item"><a href="javascript:;">
                        Work <i class="fa fa-circle color-danger pull-right"></i>
                    </a></li>
                    <li class="list-group-item"><a href="javascript:;">
                        Friends <i class="fa fa-circle color-info pull-right"></i>
                    </a></li>
                    <li class="list-group-item"><a href="javascript:;">
                        Family <i class="fa fa-circle color-primary pull-right"></i>
                    </a></li>
                    <li class="list-group-item"><a href="javascript:;">
                        Private <i class="fa fa-circle color-warning pull-right"></i>
                    </a></li>
                    <li class="list-group-item"><a href="javascript:;">
                        Classmates <i class="fa fa-circle color-success pull-right"></i>
                    </a></li>
                </ul>
            </section>
        </div>
        <div class="col-sm-9">
            <section class="panel panel-default mail-container mail-compose">
                <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span> Compose Mail</strong></div>
                <div class="panel-body">
                    <form class="form-horizontal">
                        <div class="form-group" ng-class="{'has-error': form.$dirty && form.user.$invalid}">
                            <label for="user" class="col-xs-2">To:</label>
                            <div class="col-xs-10">                              
                                <input class="form-control" name="user" ng-model="message.user" placeholder="User Name" required type="text" typeahead="obj as obj.fullname for obj in getUser($viewValue)" typeahead-loading="loadingPartient"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="mail_subject" class="col-xs-2">Subject:</label>
                            <div class="col-xs-10">
                                <input type="text" id="mail_subject" class="form-control">
                            </div>
                        </div>
                        <!-- <div text-angular ng-model="mailContent" class="ui-editor"></div> -->
                        <div class="form-group">
                            <div class="col-md-12">
                                <textarea class="form-control" id="mail.body" name="mail.body" rows="10" ng-model="mail.body" placeholder="">
                                
                            </textarea>
                            </div>
                            
                        </div>
                    </form>
                    <div class="mail-actions">
                        <div class="btn btn-sm btn-primary">Send</div>
                        <div class="btn btn-sm btn-default">Draft</div>
                        <div class="btn btn-sm btn-default">Discard</div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>