<div class="page page page-charts">
    <div class="row">
        <div class="col-md-12">
            <ul class="nav nav-boxed nav-justified">
                <li>
                    <a href="#/accounting/invoices"><i class="color-success fa fa-file-text-o"></i> Client Invoices</a>
                </li>
                <li>
                    <a href="#/accounting/provider-invoices"><i class="color-warning fa fa-file-text"></i> Provider Invoices</a>
                </li>
                <li>
                    <a href="#/accounting/provider-new"><i class="color-danger fa fa-pencil-square-o"></i> New Provider</a>
                </li>
                <li>
                    <a href="#/accounting/provider-list"><i class="color-info fa fa-list-ol"></i>Providers List</a>
                </li>
                <li class="open">
                    <a href="#/accounting/statistics"><i class="color-gray fa fa-bar-chart-o"></i> Statistics</a>
                </li>
                <li>
                    <a href="#/accounting/download"><i class="color-info-alt fa fa-download"></i> Download</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="panel panel-default" ng-controller="AccountingStatisticsCtrl">
        <div class="panel-heading">
            <strong><span class="fa fa-calculator"></span> Provider Invoices</strong>
        </div>
        <div class="panel-body">
            <form class="form-horizontal" name="form" role="form">
                <div class="form-group">
                    <label class="col-sm-2 control-label" for="">Start date</label>
                    <div class="col-sm-4">
                        <div class="input-group ui-datepicker" ng-click="open($event)">
                            <input class="form-control" close-text="Close" datepicker-options="dateOptions" datepicker-popup="dd/MM/yyyy" is-open="opened" ng-change="dateFilter()" ng-model="begin" ng-required="true" type="text"/>
                            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                        </div>
                    </div>
                    <label class="col-sm-2 control-label" for="">End date</label>
                    <div class="col-sm-4">
                        <div class="input-group ui-datepicker" ng-click="open($event)">
                            <input class="form-control" close-text="Close" datepicker-options="dateOptions" datepicker-popup="dd/MM/yyyy" is-open="opened" ng-change="dateFilter()" ng-model="end" ng-required="true" type="text"/>
                            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                        </div>
                    </div>
                </div>
            </form>
            <div class="row">
                <div class="col-sm-6">
                    <section class="panel panel-default">
                        <div class="panel-heading">
                            <strong><span class="fa fa-calendar"></span> Area Chart</strong>
                        </div>
                        <div class="panel-body">
                            <linechart ng-model="lineChart">
                            </linechart>
                        </div>
                    </section>
                </div>
                <div class="col-sm-6">
                    <section class="panel panel-default">
                        <div class="panel-heading">
                            <strong><span class="fa fa-calendar"></span> Donut Chart</strong>
                        </div>
                        <div class="panel-body">
                            <donutchart ng-model="donutChart">
                            </donutchart>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>
</div>