<div class="modal-header">
    <button aria-hidden="true" class="close" data-dismiss="modal" ng-click="dismiss()" type="button">×</button>
    <h4 class="modal-title">
        Close diagnostic {{ diagnostic.id ? diagnostic.name : "" }}
    </h4>
</div>
<div class="modal-body">
    <form class="form-horizontal" name="form" ng-submit="submit()" novalidate role="form">
        <div class="form-group">
            <label class="col-sm-2 control-label" for="close">Status</label>
            <div class="col-sm-10">
                <select class="form-control" id="close" name="close" ng-model="diagnostic.close" ng-options="obj for obj in statuses">
                </select>
            </div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-default" ng-click="dismiss()">Dismiss</button>
    <button class="btn btn-primary" ng-click="submit()" ng-disabled="form.$invalid" type="submit">Save</button>
</div>